.container {
    position: relative;
    background-color: $color-dark-blue;
    height: 80vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border-radius: 2rem;
    
}