.forgotpassword {
    @include loginPanel();
    h2{
        padding-bottom: 1rem;
    }
    &-form {
        width: 30rem;
        text-align: center;
        margin: auto;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
    @media (min-width: $sm) {
        &-form {
            width: 36rem;
            padding-top: 2rem;
        }
    }
    
}