.login {
   @include loginPanel();
   &-form {
      margin: auto;
      width: 30rem;
      display: flex;
      flex-direction: column;
      text-align: center;
      flex-grow: 1;
   }
   &-bottom {
      height: 3rem;
      display: flex;
      flex-direction: column;
      font-size: 1.4rem;
      text-align: center;
      margin: 1rem 0;
      
   }
   &-logo {
      margin: 2rem 0 0 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 35%;
  }
   @media (min-width: $sm) {
      &-form {
         width: 36rem;
         padding-top: 2rem;
      }
      &-bottom {
         font-size: 1.8rem;
         height: 4rem;
      }
      &-logo {
         margin: 2rem 0;
     }
  }
   
}