.navbar {
    width: 100%;
    display: flex;
    padding: 1rem 4rem;
    flex-direction: row;
    justify-content: space-between;
    background-color: $color-darkest-blue;
    border: .2rem solid $color-mid-blue;
    border-radius: 4rem 4rem 0 0;
    &-user {
        display: flex;
        align-items: center;
        h2 {
            margin-left: 2rem;
            font-weight: $font-weight-standard;
        }
    }
    &-nav {
        display: flex;
        align-items: center;
        button{
            margin-left: 2rem;
        }
    }
}