.weather {
    width: 100%;
    flex-grow: 1;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    label {
        padding-bottom: 2rem;
        font-size: 2.4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        input {
            padding: 1rem;
            background-color: $color-light-blue;
            color: $color-darkest-blue;
            width: 100%;
            font-size: 1.6rem;
        }
    }
    &-form {
        margin: 0 auto;
        width: 60%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    &-data {
        display: flex;
        flex-direction: column;
        font-size: 1.8rem;
        text-align: center;
        margin-top: 1rem;
        
        flex-grow: 2;
        
    }
    &-forecast {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &-icon{
            background-color: $color-mid-blue;
            width: 10rem;
            border-radius: 2rem;

        }
        &-data{
            display: flex;
            margin-top: 1.6rem;
            line-height: 2.6rem;
            &-left{
                padding-right: 0.6rem;
                border-right: 0.1rem solid $color-light-blue;
                text-align: right;
                font-weight: $font-weight-bold;
            }
            &-right{
                padding-left: 0.5rem;
                text-align: left;
                font-weight: $font-weight-thin;
            }
        }
    }
}