@mixin loginPanel() {
    border-radius: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    label {
        padding-bottom: 1rem;
        font-size: 1.6rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        input {
            padding: 1rem;
            background-color: $color-light-blue;
            color: $color-darkest-blue;
            width: 100%;
            font-size: 1.2rem;
        }
    }

    @media (min-width: $sm) {
        min-width: 30vw;
        label {
            padding-bottom: 2rem;
            font-size: 2.4rem;
            input {
                width: 100%;
                font-size: 1.6rem;
            }
        }
    }
    
}