$color-light-blue: #DCE8F2;
$color-mid-blue: #6D8BA6;
$color-dark-blue: #274F73;
$color-darkest-blue: #0C2840;
$color-button-blue: #2A398C;
$color-yellow: #FFB52D;
$color-purple-warning: #BC62CC;
$color-green-success: #76A67C;
$color-text: #FAF9E2;
$font-logo: 'Berkshire Swash', cursive;
$font-text: 'Roboto', sans-serif;
$font-weight-thin: 100;
$font-weight-standard: 300;
$font-weight-bold: 700;


h2 {
    font-size: 2rem;
    @media (min-width: 768px) {
        font-size: 2.8rem;
    }
    
}

p {
    font-size: 1.4rem;
    @media (min-width: 768px) {
        font-size: 2rem;
    }
}

a {
    color: $color-yellow;
    text-decoration: none;
    font-family: $font-text;
    font-weight: $font-weight-bold;        
}


  $xs: 512px;
  $sm: 768px;
  $md: 896px;
  $lg: 1152px;
  $xl: 1280px

