.button {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    background-color: $color-button-blue;
    color: $color-yellow;
    border: none;
    font-weight: 100;
    cursor: pointer;
    border-radius: 0.5rem;
}