.button {
    padding: 1rem 2rem;
    font-size: 2.4rem;
    text-align: center;
    background-color: $color-button-blue;
    color: $color-yellow;
    border: none;
    font-weight: 100;
    cursor: pointer;
    border-radius: 1rem;
}