.list {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    &-el-link {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;
        font-weight: $font-weight-standard;
        gap: .5rem;

    }
    @media (min-width: $sm) {
            &-el-link {
            font-size: 1.6rem;
        }
    }


}